<!doctype html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>About - Birkenstock Bondi Beach</title>
	  <!-- META -->
	  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<meta name="description" content="Birkenstock Bondi Beach has the widest selection of Birkenstock footwear in Sydney, located on Campbell Pde. Bondi Beach. Features womens', mens' and kids comfort footwear for all seasons, including classic Arizona, Madrid and Gizeh styles in the latest metallic and neon colours.">
		<meta name="REVISIT-AFTER" content="14 days">
    	<meta name="audience" content="all">
    	<meta name="Author" content="Alexandre Nicol">
    	<meta name="robots" content="INDEX,FOLLOW">
	  <!-- LINK -->
	  <link rel="shortcut icon" href="../images/favicon.png">
	  <link rel="stylesheet" href="../styles/main.css">
	  <link rel="stylesheet" href="../styles/ui_componantes.css">
	  <link rel="stylesheet" href="../styles/about.css">
	</head>
	<body>
	
	<header class="Global_Header">
		<img src="../images/LOGO_logocolour.svg" alt="logo birkenstock">
	</header>

	<!-- NAVIGATION -->
	<nav>
		<a id="hamburger_icon" href="#" onclick="sidemenu()" title="Menu">
			<span class="line line-1"></span>
			<span class="line line-2"></span>
			<span class="line line-3"></span>
		</a>
		<a class="image_logo" href="#"><img class="logo" src="../images/LOGO_logomenu.svg" alt="Birkenstock"></a>
		<div class="left_menu" id="left_menu">
			<ul>
				<li><a href="http://birkenstockbondibeach.com.au/index.html">Home</a></li>
				<li><a href="http://birkenstockbondibeach.com.au/views/products.html?collection=all">Product</a></li>
				<li><a href="http://birkenstockbondibeach.com.au/views/products.html?collection=seasonal">Seasonal</a></li>
				<li class="active"><a href="http://birkenstockbondibeach.com.au/views/about.html">About Us</a></li>
				<li><a href="http://birkenstockbondibeach.com.au/views/contact.html">Contact Us</a></li>
			</ul>
		</div>
	</nav>

	<section id="benefit">
		<div class="text_content">
			<h2 class="sub_title">The foot health benefits of Birkenstock products</h2>
			<p>The Birkenstock tradition of quality craftsmanship goes back more than 225 years. Crafted in Germany, our footwear is created using only premium products and materials. Starting with high-grade leather, suede, nubuck, and non-leather uppers, we dye our materials all the way through for a lasting look. Birkenstock footwear also includes our unique contoured footbed, shock-absorbing soles and specially designed buckles for years of comfort and durability. Almost every component of our footwear can be repaired or replaced, making Birkenstock footwear a long-lasting investment in the health of your feet.</p>
		</div>
		<div class="shoes_details">
			<div class="image_key_point">
				<img src="../images/ILLUSTRATION_about_1.jpg" alt="">
				<span onclick="change_key_point_description(0);" class="dot_border" style="top: 20px; left: 110px;"><span class="dot_background"></span></span>
				<span onclick="change_key_point_description(1);" class="dot_border" style="top: 40px; left: 74px;"><span class="dot_background"></span></span>
				<span onclick="change_key_point_description(2);" class="dot_border" style="top: 110px; left: 60px;"><span class="dot_background"></span></span>
				<span onclick="change_key_point_description(3);" class="dot_border active" style="top: 200px; left: 92px;"><span class="dot_background"></span></span>
				<span onclick="change_key_point_description(3);" class="dot_border active" style="top: 180px; left: 20px;"><span class="dot_background"></span></span>
				<span onclick="change_key_point_description(4);" class="dot_border" style="top: 270px; left: 80px;"><span class="dot_background"></span></span>
				<span onclick="change_key_point_description(5);" class="dot_border" style="top: 310px; left: 60px;"><span class="dot_background"></span></span>
			</div>
			<span class="colorborder"></span>
			<div class="image_key_point_detail">
				<h3 class="subtitle">LONGITUDINAL ARCH SUPPORTS</h3>
				<p>Longitudinal arch supports bolster the tarsus bones and provide good footing with each step.</p>
			</div>
		</div>
	</section>

	<section id="materials">
		<div class="content_right"><div class="image" style="background-image: url( ../images/ILLUSTRATION_about_2.jpg)"></div></div>
		<div class="content_left">
			<h2 class="sub_title">Info premium matrials.</h2>
			<div class="content_text">
				<p>BIRKENSTOCKS are a life decision, since our products last for decades. For that reason, all of our raw materials must meet the highest standards of quality. We use high-quality leather for our sandals and shoes. The leather is unsplit, with a smooth upper surface and a fibrous underside. In addition, we only use deeply dyed leather; the dye permeates the piece of leather completely. That allows the leather to remain open-pored and breathable.<br><br>We also utilize high-quality wool felt — a natural product that consists only of sheep’s wool, making it durable and breathable.<br>The quality of all of the materials used in our shoes is verified, and we can continuously track the production process, from the raw materials to manufacturing. We confirm this through regular testing by independent institutions.</p>
			</div>
		</div>

	</section>

	<section id="type_of_materials">
		<h2 class="sub_title">The material we use.</h2>
		<ul class="Three_column">
			<li>
				<div class="text_content">
					<h3>NATURAL LEATHER</h3>
					<p>Natural leather can be recognized by its characteristic untreated surface. We do not alter natural variations in the leather. Thus, its natural qualities remain intact.</p>
				</div>
				<span class="colorbackground"></span>					
			</li>
			<li>
				<div class="text_content">
					<h3>BIRKO-FLOR®</h3>
					<p>Birko-Flor® is a skin-friendly, strong, easy-care material. Its upper layer has a structure similar to leather. The underside is made of soft fleece.</p>
				</div>
				<span class="colorbackground"></span>					
			</li>
			<li>
				<div class="text_content">
					<h3>SMOOTH LEATHER</h3>
					<p>Smooth leather is very fine-grained and has an even surface. It is weather-resistant and features an extremely long lifespan.</p>
				</div>
				<span class="colorbackground"></span>					
			</li>
			<li>
				<div class="text_content">
					<h3>WOOL FELT</h3>
					<p>Our high-quality wool felt is 100 per cent natural and is made of pure, breathable wool.</p>
				</div>
				<span class="colorbackground"></span>					
			</li>
			<li>
				<div class="text_content">
					<h3>SUEDE LEATHER</h3>
					<p>We use high-qu ality, durable suede. That makes our suede sandals and clogs sturdy, but also soft and comfortable.</p>
				</div>
				<span class="colorbackground"></span>					
			</li>
			<li>
				<div class="text_content">
					<h3>FELT</h3>
					<p>The synthetic felt we use for our products is very strong, supple and breathable.</p>
				</div>
				<span class="colorbackground"></span>					
			</li>
			<li>
				<div class="text_content">
					<h3>NUBUCK LEATHER</h3>
					<p>Nubuck leather is created by sanding the natural grain of the leather. This process gives the leather a fine nap.</p>
				</div>
				<span class="colorbackground"></span>					
			</li>
			<li>
				<div class="text_content">
					<h3>BIRKO-FELT</h3>
					<p>Birko-Felt is made of a rayon blend and synthetic felt. This extremely hard-wearing fabric is breathable and skin-friendly.</p>
				</div>
				<span class="colorbackground"></span>					
			</li>
		</ul>
	</section>

	<!-- FOOTER -->
	<footer class="m-scrollable-filter"> 
		<form id="form_newsletter" class="newsletter" action="//birkenstockbondibeach.us14.list-manage.com/subscribe/post?u=b1c61f30dcc67e681ab1afc31&amp;id=3eb48a33e0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
			<p>Be the first to receive information on upcoming promotions, sales, in store events and more..</p>
			<div class="input_group">
				<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    			<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b1c61f30dcc67e681ab1afc31_3eb48a33e0" tabindex="-1" value=""></div>
				<input id="input_newsletter" type="text" name="EMAIL" placeholder="Suscribe">
				<a onclick="newsletter_verification(); return false;" href="#"></a>
			</div>
		</form>
		<ul class="external_link">
    	  <li><a href="https://www.facebook.com/Birkenstock-Bondi-Beach-952774751471213/" target="_blank"><span>&#xf09a;</span><p>/Birkenstock Bondi Beach</p></a></li>
    	  <li><a href="https://www.instagram.com/birkenstock_bondi_beach/" target="_blank"><span>&#xf16d;</span><P>/Birkenstock Bondi Beach</p></a></li>
    	  <li><a href="https://goo.gl/maps/vG6YjBuWVbk" target="_blank"><span>&#xf041;</span><P>7/178 Campbell Pde.<br>Bondi Beach 2026</p></a></li>
    	  <li><a href="mailto:birkenstockbondi@gmail.com"><span></span><P>birkenstockbondi@gmail.com</p></a></li>
    	  <li><a href="tel:0291304607"><span>&#xf095;</span><P>02 9130 4607</p></a></li>
    	</ul>
    	<p class="copyright">Copyright - Birkenstock Bondi Beach 2016</p>
	</footer>

	</body>

	<!-- SCRIPT -->
	<script src="../plugins/jquery.js"></script>
	<script src="../scripts/main.js"></script>
	<script src="../scripts/about.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-85818416-1', 'auto');
	  ga('send', 'pageview');
	</script>
</html>