<!doctype html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>Bondi Birkenstock - Product</title>
	  <!-- META -->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="format-detection" content="telephone=no">
	  <!-- LINK -->
	  <link rel="shortcut icon" href="../images/favicon.png">
	  <link rel="stylesheet" href="../styles/main.css">
	  <link rel="stylesheet" href="../styles/ui_componantes.css">
	  <link rel="stylesheet" href="../styles/contact.css">
	</head>
	<body>
	
	<header class="Global_Header">
		<img src="../images/LOGO_logocolour.svg" alt="logo birkenstock">
	</header>

	<!-- NAVIGATION -->
	<nav>
		<a id="hamburger_icon" href="#" onclick="sidemenu()" title="Menu">
			<span class="line line-1"></span>
			<span class="line line-2"></span>
			<span class="line line-3"></span>
		</a>
		<a class="image_logo" href="../index.html"><img class="logo" src="../images/LOGO_logomenu.svg" alt="Birkenstock"></a>
		<div class="left_menu" id="left_menu">
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="products.html">Product</a></li>
				<li><a href="#">Seasonal</a></li>
				<li><a href="about.html">About Us</a></li>
				<li class="active"><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</nav>

	<!-- <section id="Home_History">
		<h2 class="title">Birkenstock Bondi Beach - History</h2>
		<div class="image"></div>
		<div class="content">
			<p>Birkenstock Bondi Beach is an independently owned, all Birkenstock retail shop that first opened it’s doors in Bondi Beach on 15th October 2015. It began as a ‘Pop-Up’ store and has since become a one stop, all season, retailer featuring one of the widest range of Birkenstock brand footwear in Sydney. Our mission and collective aim is to provide personalised customer service of Birkenstock footwear, helping people make informed choices for their long term comfort and lifestyle. We also offer a repair service for all classic Birkenstock styles, as well as accessories, such as Birkenstock footbeds and Birkenstock socks for everyday comfort.</p>
		</div>
	</section> -->
	<section id="get_in_touch">
		<h2 class="title">Get in touch</h2>
		<form action="#">
			<div class="inputs_group">
				<label for="input_name">YOUR NAME</label>
      			<input name="name" id="input_name" type="text" placeholder="John Doe" />
      			<label for="input_email">YOUR EMAIL ADRESS</label>
      			<input name="email" id="input_email" type="text" placeholder="john.doe@outlook.com"/>
      			<label for="input_phone">YOUR PHONE NUMBER</label>
      			<input name="phone" id="input_phone" type="text" placeholder="0456 985 568" />
      		</div>
      		<div class="inputs_group">
      			<label for="input_message">YOUR MESSAGE</label>
      			<textarea name="message" id="input_message" placeholder="Hello,"></textarea>
      		</div>
      		<span class="button blue">send</span>
		</form>
	</section>
	<section id="map">
		<h2 class="title">Come to see us !</h2>
		<div id="map_container">
			<span class="borderwhite"></span>
		</div>
	</section>

	<!-- FOOTER -->
	<footer>
		<form class="newsletter">
			<p>Be the first to receive information on upcoming promotions, sales, in store events and more..</p>
			<div class="input_group">
				<input type="text" placeholder="Suscribe">
				<a href="#"></a>
			</div>
		</form>
		<ul class="external_link">
    	  <li><a href="https://www.facebook.com/Birkenstock-Bondi-Beach-952774751471213/" target="_blank"><span>&#xf09a;</span><p>/Bondi Birkenstock</p></a></li>
    	  <li><a href="https://www.instagram.com/birkenstock_bondi_beach/" target="_blank"><span>&#xf16d;</span><P>/Bondi Birkenstock</p></a></li>
    	  <li><a href="https://goo.gl/maps/jV23YW4nMbt" target="_blank"><span>&#xf0f7;</span><P>7/178 Campbell Parade<br>Bondi NSW<br>Australia 2026</p></a></li>
    	  <li><a href="mailto:birkenstockbondi@gmail.com"><span>&#xf095;</span><P>birkenstockbondi@gmail.com</p></a></li>
    	  <li><a href="tel:0242356378"><span>&#xf095;</span><P>0242 356 378</p></a></li>
    	</ul>
    	<p class="copyright">Copyright - Bondi Birkenstock 2016</p>
	</footer>

	</body>

	<!-- SCRIPT -->
	<script src="../plugins/jquery.js"></script>
	<script src="../scripts/main.js"></script>
	<script src="../scripts/products.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAd1bz-ck7zyEXYPF4dfGYKG_p3b9Km0bs&callback=initMap"
    async defer></script>
</html>