<!doctype html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>Bondi Birkenstock - Product</title>
	  <!-- META -->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="format-detection" content="telephone=no">
	  <!-- LINK -->
	  <link rel="shortcut icon" href="../images/favicon.png">
	  <link rel="stylesheet" href="../styles/main.css">
	  <link rel="stylesheet" href="../styles/ui_componantes.css">
	  <link rel="stylesheet" href="../styles/products.css">
	</head>
	<body>
	
	<header class="Global_Header">
		<img src="../images/LOGO_logocolour.svg" alt="logo birkenstock">
	</header>

	<!-- NAVIGATION -->
	<nav>
		<a id="hamburger_icon" href="#" onclick="sidemenu()" title="Menu">
			<span class="line line-1"></span>
			<span class="line line-2"></span>
			<span class="line line-3"></span>
		</a>
		<a class="image_logo" href="../index.html"><img class="logo" src="../images/LOGO_logomenu.svg" alt="Birkenstock"></a>
		<div class="left_menu" id="left_menu">
			<ul>
				<li><a href="http://localhost/birkenstock/index.html">Home</a></li>
				<li class="active"><a href="http://localhost/birkenstock/views/products.html?collection=all">Product</a></li>
				<li><a href="http://localhost/birkenstock/views/products.html?collection=seasonal">Seasonal</a></li>
				<li><a href="http://localhost/birkenstock/views/about.html">About Us</a></li>
				<li><a href="http://localhost/birkenstock/views/contact.html">Contact Us</a></li>
			</ul>
		</div>
	</nav>

	<section id="products">
		<div class="filter">
			<div class="filter_group">
				<h4 data-type="collection" class="name">Collection :</h4>
				<div class="dropdown_content">
     				<p class="choice">All</p>
					<ul class="dropdown">
        				<li><a href="#">All</a></li>
        				<li><a href="#">Seasonal</a></li>
        				<li><a href="#">Classic</a></li>
      				</ul>
      			</div>
			</div>
			<div class="filter_group">
				<h4 data-type="gender" class="name">For :</h4>
				<div class="dropdown_content">
     				<p class="choice">All</p>
					<ul class="dropdown">
        				<li><a href="#">All</a></li>
        				<li><a href="#">Men</a></li>
        				<li><a href="#">Women</a></li>
        				<li><a href="#">Kids</a></li>
      				</ul>
      			</div>
			</div>
			<div class="filter_group">
				<h4 data-type="size" class="name">Size :</h4>
				<a class="main" href="#">All</a>
				<input type="range" name="points" min="32" max="48" id="points" class="rangeMaterial">
			</div>
			<div class="filter_group" style="margin-top: 20px;">
				<h4 data-type="color" class="name">Color :</h4>
				<div class="dropdown_content">
     				<p class="choice">All</p>
					<ul class="dropdown">
        				<li><a href="#">All</a></li>
        				<li><a href="#">Brown</a></li>
        				<li><a href="#">Blue</a></li>
        				<li><a href="#">Orange</a></li>
      				</ul>
      			</div>
			</div>
			<div class="filter_group">
				<h4 data-type="texture" class="name">Texture :</h4>
				<div class="dropdown_content">
     				<p class="choice">All</p>
					<ul class="dropdown">
        				<li><a href="#">All</a></li>
        				<li><a href="#">Leather</a></li>
        				<li><a href="#">Birkoflor</a></li>
        				<li><a href="#">EVA</a></li>
        				<li><a href="#">Textile</a></li>
      				</ul>
      			</div>
			</div>
			<span onclick="filter_menu();" class="arrow_button">></span>
		</div>
		<div class="product_container">
			<ul id="products_wrapper" class="Three_column">
			</ul>
		</div>
		
	</section>

	<!-- FOOTER -->
	<footer>
		<form id="form_newsletter" class="newsletter">
			<p>Be the first to receive information on upcoming promotions, sales, in store events and more..</p>
			<div class="input_group">
				<input id="input_newsletter" type="text" placeholder="Suscribe">
				<a onclick="newsletter_verification(); return false;" href="#"></a>
			</div>
		</form>
		<ul class="external_link">
    	  <li><a href="https://www.facebook.com/Birkenstock-Bondi-Beach-952774751471213/" target="_blank"><span>&#xf09a;</span><p>/Bondi Birkenstock</p></a></li>
    	  <li><a href="https://www.instagram.com/birkenstock_bondi_beach/" target="_blank"><span>&#xf16d;</span><P>/Bondi Birkenstock</p></a></li>
    	  <li><a href="https://goo.gl/maps/jV23YW4nMbt" target="_blank"><span>&#xf0f7;</span><P>7/178 Campbell Parade<br>Bondi NSW<br>Australia 2026</p></a></li>
    	  <li><a href="mailto:birkenstockbondi@gmail.com"><span>&#xf095;</span><P>birkenstockbondi@gmail.com</p></a></li>
    	  <li><a href="tel:0242356378"><span>&#xf095;</span><P>0242 356 378</p></a></li>
    	</ul>
    	<p class="copyright">Copyright - Bondi Birkenstock 2016</p>
	</footer>

	</body>

	<!-- SCRIPT -->
	<script src="../plugins/jquery.js"></script>
	<script src="../scripts/main.js"></script>
	<script src="../scripts/datas.js"></script>
	<script src="../scripts/products.js"></script>
</html>