<!doctype html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>Bondi Birkenstock - Product</title>
	  <!-- META -->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="format-detection" content="telephone=no">
	  <!-- LINK -->
	  <link rel="shortcut icon" href="../images/favicon.png">
	  <link rel="stylesheet" href="../styles/main.css">
	  <link rel="stylesheet" href="../styles/ui_componantes.css">
	  <link rel="stylesheet" href="../styles/products.css">
	</head>
	<body>
	
	<header class="Global_Header">
		<img src="../images/LOGO_logocolour.svg" alt="logo birkenstock">
	</header>

	<!-- NAVIGATION -->
	<nav>
		<a id="hamburger_icon" href="#" onclick="sidemenu()" title="Menu">
			<span class="line line-1"></span>
			<span class="line line-2"></span>
			<span class="line line-3"></span>
		</a>
		<a class="image_logo" href="../index.html"><img class="logo" src="../images/LOGO_logomenu.svg" alt="Birkenstock"></a>
		<div class="left_menu" id="left_menu">
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li class="active"><a href="#">Product</a></li>
				<li><a href="#">Seasonal</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
		</div>
	</nav>

	<section id="products">
		<div class="filter">
			<div class="filter_group">
				<h4 class="name">Collection :</h4>
				<a href="#">All</a>
			</div>
			<div class="filter_group">
				<h4 class="name">For :</h4>
				<a href="#">Men</a>
			</div>
			<div class="filter_group">
				<h4 class="name">Size :</h4>
				<a href="#">All</a>
			</div>
			<div class="filter_group">
				<h4 class="name">Color :</h4>
				<a href="#">Black</a>
			</div>
			<span onclick="filter_menu();" class="arrow_button">></span>
		</div>
		<ul class="Three_column">			<li>
				<a href="products/classical/arizona.html">
					<img src="../images/products/SHOES_arizona_1.png" alt="Arizona">
					<h3>ARIZONA</h3>
				</a>
			</li>
			<li>
				<a href="products/classical/mayari.html">
					<img src="../images/products/SHOES_mayari_1.png" alt="MAYARI">
					<h3>MAYARI</h3>
				</a>
			</li>
			<li>
				<a href="products/classical/gizeh.html">
					<img src="../images/products/SHOES_gizeh_1.png" alt="GIZEH">
					<h3>GIZEH</h3>
				</a>
			</li>
			<li>
				<a href="products/classical/boston.html">
					<img src="../images/products/SHOES_boston_1.png" alt="BOSTON">
					<h3>BOSTON</h3>
				</a>
			</li>
			<li>
				<a href="products/classical/madrid.html">
					<img src="../images/products/SHOES_madrid_1.png" alt="MADRID">
					<h3>MADRID</h3>
				</a>
			</li>
			<li>
				<a href="products/classical/milano.html">
					<img src="../images/products/SHOES_milano_1.png" alt="MILANO">
					<h3>MILANO</h3>
				</a>
			</li>
			<li>
				<a href="products/classical/florida.html">
					<img src="../images/products/SHOES_florida_1.png" alt="FLORIDA">
					<h3>FLORIDA</h3>
				</a>
			</li>
			<li>
				<a href="products/classical/salina.html">
					<img src="../images/products/SHOES_salina_1.png" alt="SALINA">
					<h3>SALINA</h3>
				</a>
			</li>
			<li>
				<a href="products/classical/yara.html">
					<img src="../images/products/SHOES_yara_1.png" alt="YARA">
					<h3>YARA</h3>
				</a>
			</li>
			<li>
				<a href="products/classical/profibirki.html">
					<img src="../images/products/SHOES_profibirki_1.png" alt="PROFI BIRKI">
					<h3 style="font-size: 2.8rem; bottom: -4px;">PROFI BIRKI</h3>
				</a>
			</li>
			<li class="kids">
				<a href="products/kids/roma.html">
					<img src="../images/products/SHOES_roma_1.png" alt="ROMA">
					<h3>ROMA</h3>
				</a>
			</li>
			<li class="kids">
				<a href="products/kids/rio.html">
					<img src="../images/products/SHOES_rio_1.png" alt="RIO">
					<h3>RIO</h3>
				</a>
			</li>
			<li class="kids">
				<a href="products/kids/milano.html">
					<img src="../images/products/SHOES_milano_1.png" alt="MILANO">
					<h3>MILANO</h3>
				</a>
			</li>
			<li class="kids">
				<a href="products/kids/gizeh.html">
					<img src="../images/products/SHOES_gizeh_1.png" alt="GIZEH">
					<h3>GIZEH</h3>
				</a>
			</li>
			<li class="kids">
				<a href="products/kids/arizona.html">
					<img src="../images/products/SHOES_arizona_1.png" alt="ARIZONA">
					<h3>ARIZONA</h3>
				</a>
			</li>
			<li class="seasonal">
				<a href="products/seasonal/arran.html">
					<img src="../images/products/SHOES_arran_1.png" alt="ARRAN">
					<h3>ARRAN</h3>
				</a>
			</li>
			<li class="seasonal">
				<a href="products/seasonal/arizona.html">
					<img src="../images/products/SHOES_arizona_1.png" alt="ARIZONA">
					<h3>ARIZONA</h3>
				</a>
			</li>
			<li class="seasonal">
				<a href="products/seasonal/charlize.html">
					<img src="../images/products/SHOES_charlize_1.png" alt="CHARLIZE">
					<h3>CHARLIZE</h3>
				</a>
			</li>
			<li class="seasonal">
				<a href="products/seasonal/gizeh.html">
					<img src="../images/products/SHOES_gizeh_1.png" alt="GIZEH">
					<h3>GIZEH</h3>
				</a>
			</li>
			<li class="seasonal">
				<a href="products/seasonal/harris.html">
					<img src="../images/products/SHOES_harris_1.png" alt="HARRIS">
					<h3>HARRIS</h3>
				</a>
			</li>
			<li class="seasonal">
				<a href="products/seasonal/illinois.html">
					<img src="../images/products/SHOES_illinois_1.png" alt="ILLINOIS">
					<h3>ILLINOIS</h3>
				</a>
			</li>
			<li class="seasonal">
				<a href="products/seasonal/madrid.html">
					<img src="../images/products/SHOES_madrid_1.png" alt="MADRID">
					<h3>MADRID</h3>
				</a>
			</li>
			<li class="seasonal">
				<a href="products/seasonal/manibota.html">
					<img src="../images/products/SHOES_manibota_1.png" alt="MANIBOTA">
					<h3>MANIBOTA</h3>
				</a>
			</li>
			<li class="seasonal">
				<a href="products/seasonal/scarba.html">
					<img src="../images/products/SHOES_scarba_1.png" alt="SCARBA">
					<h3>SCARBA</h3>
				</a>
			</li>
			<li class="seasonal">
				<a href="products/seasonal/sydney.html">
					<img src="../images/products/SHOES_sydney_1.png" alt="SYDNEY">
					<h3>SYDNEY</h3>
				</a>
			</li>
		</ul>
	</section>

	<!-- FOOTER -->
	<footer>
		<form id="form_newsletter" class="newsletter">
			<p>Be the first to receive information on upcoming promotions, sales, in store events and more..</p>
			<div class="input_group">
				<input id="input_newsletter" type="text" placeholder="Suscribe">
				<a onclick="newsletter_verification(); return false;" href="#"></a>
			</div>
		</form>
		<ul class="external_link">
    	  <li><a href="https://www.facebook.com/Birkenstock-Bondi-Beach-952774751471213/" target="_blank"><span>&#xf09a;</span><p>/Bondi Birkenstock</p></a></li>
    	  <li><a href="https://www.instagram.com/birkenstock_bondi_beach/" target="_blank"><span>&#xf16d;</span><P>/Bondi Birkenstock</p></a></li>
    	  <li><a href="https://goo.gl/maps/jV23YW4nMbt" target="_blank"><span>&#xf0f7;</span><P>7/178 Campbell Parade<br>Bondi NSW<br>Australia 2026</p></a></li>
    	  <li><a href="mailto:birkenstockbondi@gmail.com"><span>&#xf095;</span><P>birkenstockbondi@gmail.com</p></a></li>
    	  <li><a href="tel:0242356378"><span>&#xf095;</span><P>0242 356 378</p></a></li>
    	</ul>
    	<p class="copyright">Copyright - Bondi Birkenstock 2016</p>
	</footer>

	</body>

	<!-- SCRIPT -->
	<script src="../plugins/jquery.js"></script>
	<script src="../scripts/main.js"></script>
	<script src="../scripts/products.js"></script>
</html>