<!doctype html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>Bondi Birkenstock - Product</title>
	  <!-- META -->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="format-detection" content="telephone=no">
	  <!-- LINK -->
	  <link rel="shortcut icon" href="../images/favicon.png">
	  <link rel="stylesheet" href="../styles/main.css">
	  <link rel="stylesheet" href="../styles/ui_componantes.css">
	  <link rel="stylesheet" href="../styles/products.css">
	</head>
	<body>
	
	<header class="Global_Header">
		<img src="../images/LOGO_logocolour.svg" alt="logo birkenstock">
	</header>

	<!-- NAVIGATION -->
	<nav>
		<a id="hamburger_icon" href="#" onclick="sidemenu()" title="Menu">
			<span class="line line-1"></span>
			<span class="line line-2"></span>
			<span class="line line-3"></span>
		</a>
		<a class="image_logo" href="../index.html"><img class="logo" src="../images/LOGO_logomenu.svg" alt="Birkenstock"></a>
		<div class="left_menu" id="left_menu">
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li class="active"><a href="#">Product</a></li>
				<li><a href="#">Seasonal</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="contact.html">Contact Us</a></li>
			</ul>
		</div>
	</nav>

	<section id="products">
		<div class="filter">
			<div class="filter_group">
				<h4 class="name">Collection :</h4>
				<a href="#">All</a>
			</div>
			<div class="filter_group">
				<h4 class="name">For :</h4>
				<a href="#">Men</a>
			</div>
			<div class="filter_group">
				<h4 class="name">Size :</h4>
				<a href="#">All</a>
			</div>
			<div class="filter_group">
				<h4 class="name">Color :</h4>
				<a href="#">Black</a>
			</div>
			<span onclick="filter_menu();" class="arrow_button">></span>
		</div>
		<ul class="Three_column">
			<li>
				<a href="product_details.html">
					<img src="../images/SHOES_1.png" alt="Arizona">
					<h3>Arizona</h3>
				</a>
			</li>
			<li>
				<a href="product_details.html">
					<img src="../images/SHOES_1.png" alt="Arizona">
					<h3>Arizona</h3>
				</a>
			</li>
			<li>
				<a href="product_details.html">
					<img src="../images/SHOES_1.png" alt="Arizona">
					<h3>Arizona</h3>
				</a>
			</li>
			<li>
				<a href="product_details.html">
					<img src="../images/SHOES_1.png" alt="Arizona">
					<h3>Arizona</h3>
				</a>
			</li>
			<li>
				<a href="product_details.html">
					<img src="../images/SHOES_1.png" alt="Arizona">
					<h3>Arizona</h3>
				</a>
			</li>
			<li>
				<a href="product_details.html">
					<img src="../images/SHOES_1.png" alt="Arizona">
					<h3>Arizona</h3>
				</a>
			</li>
			<li>
				<a href="product_details.html">
					<img src="../images/SHOES_1.png" alt="Arizona">
					<h3>Arizona</h3>
				</a>
			</li>
			<li>
				<a href="product_details.html">
					<img src="../images/SHOES_1.png" alt="Arizona">
					<h3>Arizona</h3>
				</a>
			</li>
			<li>
				<a href="product_details.html">
					<img src="../images/SHOES_1.png" alt="Arizona">
					<h3>Arizona</h3>
				</a>
			</li>
		</ul>
	</section>

	<footer>
		<form class="newsletter">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacinia pulvinar mattis. Aliquam ullamcorper ipsum vulputate dictum ultrices. In vel tellus et neque posuere iaculis.</p>
			<div class="input_group">
				<input type="text" placeholder="Suscribe">
				<a href="#"></a>
			</div>
		</form>
		<ul class="external_link">
    	  <li><a href=""><span>&#xf09a;</span><p>/Bondi Birkenstock</p></a></li>
    	  <li><a href=""><span>&#xf16d;</span><P>/Bondi Birkenstock</p></a></li>
    	  <li><a href=""><span>&#xf0f7;</span><P>245 rue du chène<br> Bondi,NSW <br> Australia</p></a></li>
    	  <li><a href=""><span>&#xf095;</span><P>0242 356 378</p></a></li>
    	</ul>
    	<p class="copyright">Copyright - Bondi Birkenstock 2016</p>
	</footer>

	</body>

	<!-- SCRIPT -->
	<script src="../plugins/jquery.js"></script>
	<script src="../scripts/main.js"></script>
	<script src="../scripts/products.js"></script>
</html>