<!doctype html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>Bondi Birkenstock - Mayari</title>
	  <!-- META -->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="format-detection" content="telephone=no">
	  <!-- LINK -->
	  <link rel="shortcut icon" href="../../../images/favicon.png">
	  <link rel="stylesheet" href="../../../styles/main.css">
	  <link rel="stylesheet" href="../../../styles/ui_componantes.css">
	  <link rel="stylesheet" href="../../../styles/product_details.css">
	</head>
	<body>
	
	<header class="Global_Header">
		<img src="../../../images/LOGO_logocolour.svg" alt="logo birkenstock">
	</header>

	<!-- NAVIGATION -->
	<nav>
		<a id="hamburger_icon" href="#" onclick="sidemenu()" title="Menu">
			<span class="line line-1"></span>
			<span class="line line-2"></span>
			<span class="line line-3"></span>
		</a>
		<a class="image_logo" href="../../../index.html"><img class="logo" src="../../../images/LOGO_logomenu.svg" alt="Birkenstock"></a>
		<div class="left_menu" id="left_menu">
			<ul>
				<li><a href="http://localhost/birkenstock/index.html">Home</a></li>
				<li class="active"><a href="http://localhost/birkenstock/views/products.html?collection=all">Product</a></li>
				<li><a href="http://localhost/birkenstock/views/products.html?collection=seasonal">Seasonal</a></li>
				<li><a href="http://localhost/birkenstock/views/about.html">About Us</a></li>
				<li><a href="http://localhost/birkenstock/views/contact.html">Contact Us</a></li>
			</ul>
		</div>
	</nav>

	<section id="product_image">
		<ul class="gallery">
			<!-- Javacript gallery insertion here -->
		</ul>
		<ul class="dot">
			<!-- Javacript dot insertion here -->
		</ul>
		<span class="arrow left" onclick="slide_image( 'left' )"><img src="../../../images/ELEM_Arrow.svg" alt=""></span>
		<span class="arrow right" onclick="slide_image( 'right' )"><img src="../../../images/ELEM_Arrow.svg" alt=""></span>
	</section>

	<section id="product_information">
		<h1 class="title">MAYARI</h1>
		<p>The BIRKENSTOCK Mayari sandal accompanies active, fashion-conscious women for elegance and comfort all summer long. This fine and seemingly see-through model with an anatomically formed original BIRKENSTOCK cork-latex footbed and velvety soft suede lining melds design and comfort to great effect. Thanks to individually adjustable metal buckles, two slender straps above the instep and the toe section ensure that the sandal is a perfect fit for every foot.</p>
		<ul class="tag"></ul>
    	<p class="size"></p>
    	<p class="color"></p>
		<a onclick="modal_contact(); return false;" href="#"><h3>CONTACT US</h3></a>
	</section>

	<!-- FOOTER -->
	<footer>
		<form id="form_newsletter" class="newsletter">
			<p>Be the first to receive information on upcoming promotions, sales, in store events and more..</p>
			<div class="input_group">
				<input id="input_newsletter" type="text" placeholder="Suscribe">
				<a onclick="newsletter_verification(); return false;" href="#"></a>
			</div>
		</form>
		<ul class="external_link">
    	  <li><a href="https://www.facebook.com/Birkenstock-Bondi-Beach-952774751471213/" target="_blank"><span>&#xf09a;</span><p>/Bondi Birkenstock</p></a></li>
    	  <li><a href="https://www.instagram.com/birkenstock_bondi_beach/" target="_blank"><span>&#xf16d;</span><P>/Bondi Birkenstock</p></a></li>
    	  <li><a href="https://goo.gl/maps/jV23YW4nMbt" target="_blank"><span>&#xf0f7;</span><P>7/178 Campbell Parade<br>Bondi NSW<br>Australia 2026</p></a></li>
    	  <li><a href="mailto:birkenstockbondi@gmail.com"><span>&#xf095;</span><P>birkenstockbondi@gmail.com</p></a></li>
    	  <li><a href="tel:0242356378"><span>&#xf095;</span><P>0242 356 378</p></a></li>
    	</ul>
    	<p class="copyright">Copyright - Bondi Birkenstock 2016</p>
	</footer>

	</body>

	<!-- SCRIPT -->
	<script src="../../../plugins/jquery.js"></script>
	<script src="../../../scripts/main.js"></script>
	<script>
	var gallery_content = [
        { //MAYARI CLASSIC BLACK
          name: 'mayari',
          picture: 'mayari_birkoflor_black',
          tag: ['birkoflor', 'regularfit', 'narrowfit'],
          size: [35, 36, 37, 38, 39, 40, 41, 42, 43],
          gender: ['men', 'women'], 
          color: 'Black'
        },
        { //MAYARI CLASSIC MOCCA
          name: 'mayari',
          picture: 'mayari_birkoflor_mocca',
          tag: ['birkoflor', 'regularfit', 'narrowfit'],
          size: [35, 36, 37, 38, 39, 40, 41, 42, 43],
          gender: ['men', 'women'], 
          color: 'Mocca'
        },
        { //MAYARI CLASSIC SILVER
          name: 'mayari',
          picture: 'mayari_birkoflor_silver',
          tag: ['birkoflor', 'regularfit', 'narrowfit'],
          size: [36, 37, 38, 39, 40, 41],
          gender: ['women'], 
          color: 'Silver'
        }
	];
	</script>
	<script src="../../../scripts/product_details.js"></script>
</html>