/*
    MOBILE VERSION
*/
section#products{
    max-width: none;
}
    section#products div.filter{
            position: fixed;
            top:0;
            left: 0;
            width: 80%;
            height: 100%;
            z-index: 20;
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
            transform: translateX(-101%);
            transition: transform 600ms;
            background-color: #fff;
    }
    section#products div.filter.active{ transform: translateX(0%); }

        section#products div.filter div.filter_group{
            width: 100%;
            height: 66px;
            margin: 10px 0;
            position: relative;
        }
                section#products div.filter div.filter_group h4.name{
                    width: calc(70% - 20px);
                    font-size: 600;
                    line-height: 66px;
                    font-size: 2rem;
                    position: absolute;
                    top: 0;
                    left: 20px;
                    color: #5d5d5d;
                    display: block;
                    z-index: 1;
                }
                section#products div.filter div.filter_group p.choice{
                    display: block;
                    width: calc(100% - 20px);
                    font-size: 600;
                    line-height: 66px;
                    font-size: 2rem;
                    position: absolute;
                    right: 20px;
                    top: 0;
                    color: #498098;
                    text-align: right;
                    margin: 0; 
                }
                section#products div.filter div.filter_group a.main{
                    display: block;
                    width: calc(30% - 20px);
                    font-size: 600;
                    line-height: 66px;
                    height: 66px;
                    font-size: 2rem;
                    color: #498098;
                    text-align: right;
                    float: right;
                    padding-right: 20px;
                }

        section#products div.filter div.filter_group div.dropdown_content{
            display: block;
            padding: 0px 10px;
            width: calc(100% - 24px);
            margin: 5px auto;
            position: relative;
            cursor: pointer;
            border-right: 4px solid #739cda;
            background: #fff;
            font-size: 1.55em;
            color: #656565;
            font-weight: normal;
            -webkit-transition: all 0.15s linear;
            -moz-transition: all 0.15s linear;
            -ms-transition: all 0.15s linear;
            -o-transition: all 0.15s linear;
            transition: all 0.15s linear;
            height: 100%;
        }
        section#products div.filter div.filter_group div.dropdown_content:hover{
            -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
            -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
            box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
        }
        section#products div.filter div.filter_group.active div.dropdown_content{
            background: #5a90e0;
            color: #fff;
            border-left-color: #6c6d70;
        }
        section#products div.filter div.filter_group.active div.dropdown_content p.choice, section#products div.filter div.filter_group.active h4.name{ color: white; }
            section#products div.filter div.filter_group div.dropdown_content p.choice{}
            section#products div.filter div.filter_group div.dropdown_content ul.dropdown{
                position: absolute;
                top: 100%;
                left: -4px;
                width: 100%;
                padding: 5px 0px;
                display: none;
                border-left: 4px solid #8e9196;
                background: #fff;
                -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
                -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
                box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
                z-index: 10;
            }
                section#products div.filter div.filter_group div.dropdown_content ul.dropdown li{
                    font-size: 1.6rem;
                    overflow: auto;
                }
                    section#products div.filter div.filter_group div.dropdown_content ul.dropdown li a{
                        display: block;
                        color: #447dd3;
                        padding: 0px 15px;
                        text-align: right;
                        float: right;
                        height: 66px;
                        line-height: 66px;
                        font-size: 2rem;
                        color: #498098;
                        width: calc(100% - 30px);
                    }
                    section#products div.filter div.filter_group div.dropdown_content ul.dropdown li a:hover{
                        color: #6fa0e9;
                        background: #e7f0f7;
                    }

/* -- estilos -- */
.rangeMaterial{
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0px auto 10px;
    width: 80%;
    display: block;
}
.rangeMaterial:focus { outline: none; }
.rangeMaterial::-webkit-slider-runnable-track, .rangeMaterial::-moz-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: silver;
}
.rangeMaterial::-webkit-slider-thumb, .rangeMaterial::-moz-slider-thumb{
    height: 15px;
    width: 15px;
    border-radius: 500px;
    background: #1abc9c;
    cursor: pointer;
    -webkit-appearance: none;
    transform: translateY(-6.5px);
    display: absolute;
}









        section#products div.filter span.arrow_button{
            display: block;
            position: absolute;
            top: 200px;
            right: -40px;
            width: 40px;
            height: 40px;
            background-color: #94c7e4;
            text-align: center;
            font-size: 3rem;
            line-height: 40px;
            color: white;
            cursor: pointer;
            transform: rotate(0deg);
            transition: transform 300ms;
        }
        section#products div.filter span.arrow_button.active{transform: rotate(180deg);}

        section#products div.product_container div.noResult{ width: 100%; }
        section#products div.product_container div.noResult h2{
            font-size: 4rem;
            font-weight: 200;
            color: #498098;
            text-align: center;
        }


        section#products div.product_container{ min-height: 50vh; }
            section#products ul.Three_column li{
                width: calc(100% - 40px);
                min-width: 150px;
                height: auto;
                min-height: 150px;
                padding: 20px;
                margin: 0 0 20px;
                background-color: #d7d2c8;
                display: inline-block;
            }
                section#products ul.Three_column li.kids{
                    background-color: #c0db8f;
                    /*background-color: #d7d2c8;*/
                }
                section#products ul.Three_column li.seasonal{
                    background-color: #8574b2;
                    /*background-color: #d7d2c8;*/
                }
                section#products ul.Three_column li a{
                    width: 100%;
                    height: auto;
                    min-height: 148px;
                    border: .5px solid white;
                    text-align: center;
                    color: white;
                    vertical-align: middle;
                    font-weight: 600;
                    position: relative;
                }
                    section#products ul.Three_column li a img{
                        width: 90%;
                        margin: 20px 0 0 0;
                    }
                    section#products ul.Three_column li a h3{
                        position: absolute;
                        height: 28px;
                        left: -2px;
                        bottom: 0;
                        height: 28px;
                        font-size: 3.2rem;
                    }

.loader {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
div.loaders p{
    font-size: 3rem;
    font-weight: 200;
    color: #498098;
    text-align: center;
    margin: 15px 0;
}

.loader-circles {
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #498098;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  display: block;
}
.loader-circles:before, .loader-circles:after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border-radius: 50px;
  border: 3px solid transparent;
  border-top-color: #498098;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-animation: spinreverse 5s linear infinite;
  animation: spinreverse 5s linear infinite;
}
.loader-circles:before {
  top: 12px;
  left: 12px;
  bottom: 12px;
  right: 12px;
  -webkit-animation: spinreverse 10s linear infinite;
  animation: spinreverse 10s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    tranform: rotate(360deg);
  }
}
@-webkit-keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    tranform: rotate(-360deg);
  }
}
@keyframes spinreverse {
  0% {
    -webkit-transform: rotate(0deg);
    tranform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    tranform: rotate(-360deg);
  }
}



    

/*
    TABLET VERSION
*/
@media screen and (min-width: 768px ){
    section#products{ padding-top: 5px; }
    section#products div.filter{
        width: 30%;
        max-width: 250px;
    }
    section#products div.filter {padding-top: 10%;}
    section#products div.product_container{
        
    }
    section#products div.product_container ul.Three_column{
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
    }
}

/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){
    section#products{
        position: relative;
        width: 100%;
        margin: 0;
        padding: 10% 0;
        z-index: 0;
    }
    section#products div.filter{
        position: absolute;
        width: 30%;
        transform: translateX(0%);
    }
    section#products div.filter span.arrow_button{display: none;}
    section#products div.product_container{ width: calc(100% - 250px); margin-left: 250px; }
    section#products div.product_containerul.Three_column{}
}

/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){}

/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}