<!doctype html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <title>Bondi Birkenstock - Sydney</title>
	  <!-- META -->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <meta name="format-detection" content="telephone=no">
	  <!-- LINK -->
	  <link rel="shortcut icon" href="../../images/favicon.png">
	  <link rel="stylesheet" href="../../styles/main.css">
	  <link rel="stylesheet" href="../../styles/ui_componantes.css">
	  <link rel="stylesheet" href="../../styles/product_details.css">
	</head>
	<body>
	
	<header class="Global_Header">
		<img src="../../images/LOGO_logocolour.svg" alt="logo birkenstock">
	</header>

	<!-- NAVIGATION -->
	<nav>
		<a id="hamburger_icon" href="#" onclick="sidemenu()" title="Menu">
			<span class="line line-1"></span>
			<span class="line line-2"></span>
			<span class="line line-3"></span>
		</a>
		<a class="image_logo" href="../../index.html"><img class="logo" src="../../images/LOGO_logomenu.svg" alt="Birkenstock"></a>
		<div class="left_menu" id="left_menu">
			<ul>
				<li><a href="../../index.html">Home</a></li>
				<li class="active"><a href="../products.html">Product</a></li>
				<li><a href="../products.html">Seasonal</a></li>
				<li><a href="../about.html">About Us</a></li>
				<li><a href="../contact.html">Contact Us</a></li>
			</ul>
		</div>
	</nav>

	<section id="product_image">
		<ul class="gallery">
			<!-- Javacript gallery insertion here -->
		</ul>
		<ul class="dot">
			<!-- Javacript dot insertion here -->
		</ul>
		<span class="arrow left" onclick="slide_image( 'left' )"><img src="../../images/ELEM_Arrow.svg" alt=""></span>
		<span class="arrow right" onclick="slide_image( 'right' )"><img src="../../images/ELEM_Arrow.svg" alt=""></span>
	</section>

	<section id="product_information">
		<h1 class="title">SYDNEY</h1>
		<p>No Description</p>
		<ul class="tag">
			<li><img src="../../images/BADGE_narrowfit.svg" alt=""></li>
			<li><img src="../../images/BADGE_regularfit.svg" alt=""></li>
		</ul>
		<a href="#"><h3>CONTACT US</h3></a>
	</section>

	<!-- FOOTER -->
	<footer>
		<form class="newsletter">
			<p>Be the first to receive information on any upcoming promotions, seasonal sales and in store events"  with a window for their email address and the subscribe button next to it.</p>
			<div class="input_group">
				<input type="text" placeholder="Suscribe">
				<a href="#"></a>
			</div>
		</form>
		<ul class="external_link">
    	  <li><a href="https://www.facebook.com/Birkenstock-Bondi-Beach-952774751471213/" target="_blank"><span>&#xf09a;</span><p>/Bondi Birkenstock</p></a></li>
    	  <li><a href="https://www.instagram.com/birkenstock_bondi_beach/" target="_blank"><span>&#xf16d;</span><P>/Bondi Birkenstock</p></a></li>
    	  <li><a href="https://goo.gl/maps/jV23YW4nMbt" target="_blank"><span>&#xf0f7;</span><P>7/178 Campbell Parade<br>Bondi NSW<br>Australia 2026</p></a></li>
    	  <li><a href="mailto:birkenstockbondi@gmail.com"><span>&#xf095;</span><P>birkenstockbondi@gmail.com</p></a></li>
    	  <li><a href="tel:0242356378"><span>&#xf095;</span><P>0242 356 378</p></a></li>
    	</ul>
    	<p class="copyright">Copyright - Bondi Birkenstock 2016</p>
	</footer>

	</body>

	<!-- SCRIPT -->
	<script src="../../plugins/jquery.js"></script>
	<script src="../../scripts/main.js"></script>
	<script>var gallery_picture = ['SHOES_arizona_1', 'SHOES_arizona_3', 'SHOES_arizona_4', 'SHOES_arizona_1']</script>
	<script src="../../scripts/product_details.js"></script>
</html>